{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    <br>
     
    <button class="btn" style="background-color:#3498DB;border-color: black;color: white">{{ button_label|default('Send') }}</button>
{{ form_end(form) }}
